<ion-menu contentId="main-content">
  <ion-header>
  </ion-header>
  <ion-content>
    <ion-row class="slid" style="color: black;">
      <div class="ddd">
        <ion-avatar class="mon">
          <img style=" margin-left: 107px;" alt="Silhouette of a person's head" class="aa"
            src="../../assets/Images/mogo.jpg" />
        </ion-avatar>
        <h4>Manuel</h4>
      </div>
    </ion-row>
    <div class="bar"></div>
    <div class="sy">
      <ion-icon class="hom" name="home-sharp" style="font-size: 26px;margin-top: 25px;"></ion-icon>
      <h6>Acceuil</h6>
      <ion-icon class="hom" name="sync-outline" style="font-size: 26px; margin-top: 18px;"></ion-icon>
      <h5>Modifier <br> Compte</h5>
      <ion-icon class="hom" name="add-circle-outline" style="font-size: 26px; margin-top: 11px;"></ion-icon>
      <h6>Voir
        Pojets</h6>
      <ion-icon class="hom" name="close-circle-outline" style="font-size: 26px; margin-top: 15px; "></ion-icon>
      <h5>Fermer <br> Compte</h5>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="toutdiv">
        <div class="gauche">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
        <div class="milieu">
          <ion-title class="monAc">Projets</ion-title>
        </div>
        <div class="droite">
          <ion-buttons>
            <i class='fas fa-bell'></i>
          </ion-buttons>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
</div>
  <div class="rect">
    <ion-card-header class="posi">
    </ion-card-header>
  </div>
  <div class="rect2" >
    <ion-searchbar style="top:1px;" placeholder="Recherche"></ion-searchbar>

    <div class="cadre" style="overflow-y:scroll ;">
      <div class="click" *ngFor="let projets1 of  mesProjets">
        <ion-avatar>
          <img style="width: 55px;" alt="Silhouette of a person's head" class="oo" src="../../assets/Images/mogo.jpg" />
        </ion-avatar>
        <ion-card-subtitle class="ex">Auteur: {{projets1.auteur}} <br>Nom: {{projets1.nom}} <br> Secteur:
          {{projets1.secteurActiviter.libellesecteur}} <br> </ion-card-subtitle>
        <div class="notif">

          <ion-card-subtitle style="color: black; font-size: 10px; left: 5%; top: 17%;"><a
              [routerLink]="['/tabs/detail-projets',projets1.id]">{{projets1.description}}</a>
          </ion-card-subtitle>
        </div>
      </div>
    </div>
  </div>
  <ion-button class="envoi" type="submit" expand="block">Ajouter</ion-button>
  
