
.titre{
    font-weight: bolder;
    color: black;
    font-size: 90%;
    margin-top: 1%;
  }
  .exp{
    font-weight: bolder;
    font-size: 60%;
    margin-bottom: 120%;
    margin-top: 3%;
    margin-left: 5px;
  }
 .posi{
    margin-top: -2vh;
    border: 1px;
    border-color: black;
 }
 .bord{
     box-sizing: border-box;
     position: absolute;
     width: 251px;
     height: 76px;
     left: 8px;
     top: 10px;
     background: #FFFFFF;
     border: 1px solid #000000;
     border-radius: 5px;
 }
 
   .droite{
     font-size: 22px;
     margin-right: 0%;
     margin-left: 88%;
     margin-top: -25px;
  }
  
  .monAc{
    margin-top: -32px;
    margin-left: 64px;
 
  }
 .rect{
    position: absolute;
 width: 268px;
 height: 748px;
 left: 4px;
 top: 86px;
 right: 90px;
 
 background: #FFFFFF;
 border-radius: 10px;
 } 
 .imag{
    width: 95%;
    margin-left: 1vh;
    margin-right: -50vh;
    margin-top: 3%;
    height: 24vh;
    border-radius: 4%;
 }
 .rect2{
     position: absolute;
     width: 253px;
     height: 212px;
     left: 11px;
     top: 316px;
     background: #1A7791;
     border-radius: 5px;
 }
 .oo{
   margin-top: 11%;
   margin-left: 9%;
 }
 ion-item {
    --padding-start: 0;
  }
  ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  .notif{
   margin-top: 2%;
   width: 39vh;
   margin-left: 2vh;
  }
  .mots{
   font-size: 12px;
  }
  .blanc{
   background-color: #FFFFFF;
   margin-top: 0vh;
   border-radius: 22px;
   width: 220px;
 } 
 .ex{
   margin-top: -21%;
   margin-left: 32%;
   color: white;
   font-size: 8px;
   color: #000000;
   font-weight: bolder;
   
 } 
 .notif {
     width: 222px;
     height: 27px;
     background: #FFFFFF;
     border-radius: 12px;
     margin-left: 5px;
 }
 .cadre{
   box-sizing: border-box;
     height: 115px;
     margin-top: 0px;
     background: #1A7791;
     opacity: 86%;
     width: 239px;
     margin-left: 7px;
 }
 .tes{
     font-size: 12px;
 }
 .tes1{
     font-size: 12px;
 }
 .voir{
     box-sizing: border-box;
     width: 67px;
     height: 19px;
     left: 284px;
     top: 620px;
     background: #FFFFFF;
     border: 1px solid #000000;
     border-radius: 5px;
     margin-left: 168px;
     margin-top: -17px;
     color: #000000;
     font-size: 11px;
     text-align: center;
 
 }
 .mon{
   margin-top: -29px;
  width: 140px;
  height: 140px;
  margin-left: -49px;
  margin-right: 50px;
 }
 .ddd{
   position: absolute;
   left: 0.77%;
   right: 0.77%;
   top: 21%;
   bottom: 0.36%;
   background: #1A7791;
   border-radius: 0px;
 }
 .sy{
   box-sizing: border-box;
   position: absolute;
   left: 21.28%;
   right: 19.23%;
   top: 51.78%;
   bottom: 5.07%;
   background: #FFFFFF;
   border: 1px solid #FFFFFF;
   border-radius: 21px;
 }
 .hom{
   color: green; 
   width: 80px;
   margin-top: 20px;
   margin-left: 10px;
 }
 h6{
   color: black;
   margin-top: -17px;
   margin-left: 70px;
   font-size: 11px;
 }
 h5{
   color: black;
   margin-top: -28px;
   margin-left: 70px;
   font-size: 11px;
 }
 .bar{
   position: absolute;
 left: 0.26%;
 right: -0.26%;
 top: 44.67%;
 bottom: 54.62%;
 
 background: #FFFFFF;
 }
 h4{
     font-size: 26px;
     margin-top: -32px;
     margin-left: 87px;
     color: white;
     font-weight: bolder;
 }
 
 .aa{
   margin-top: -46px;
   margin-left: 9%;
 }
 .slid{
   box-sizing: border-box;
   position: absolute;
   left:0%;
   right: 0%;
   top: 0%;
   bottom: 0%;
   background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
 
 }
 
 
 