<ion-menu contentId="main-content">
  <ion-content >
    <ion-row class="slid" style="color: black;">
      <div class="ddd">
      <ion-avatar class="mon">
        <img style=" margin-left: 107px;" alt="Silhouette of a person's head" class="aa" src="../../assets/Images/mogo.jpg" />
      </ion-avatar>
      <h4>Manuel</h4>
    </div>
    </ion-row>
    <div class="bar"></div>
    <div class="sy">
      <ion-icon class="hom" name="home-sharp" style="font-size: 26px;margin-top: 25px;"></ion-icon>
      <h6><a routerLink="/tabs/tab1">Acceuil</a> </h6>
      <ion-icon  class="hom" name="sync-outline" style="font-size: 26px; margin-top: 18px;"></ion-icon>
      <h5>Modifier <br> Compte</h5>
      <ion-icon class="hom"  name="add-circle-outline" style="font-size: 26px; margin-top: 11px;"></ion-icon>
      <h6> <a routerLink="/tabs/tab2">Voir Pojets</a> </h6>
      <ion-icon class="hom" name="close-circle-outline"style="font-size: 26px; margin-top: 15px; "></ion-icon>
      <h5>Fermer <br> Compte</h5>
    </div>
      </ion-content> 
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="toutdiv">
        <div class="gauche">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/Accueil"></ion-back-button>
          </ion-buttons>
        </div>
        <div class="milieu">
          <ion-title class="monAc">Projet-Entier</ion-title>
        </div>
        <div class="droite">     
 <ion-buttons>
  <i class='fas fa-bell'></i>
</ion-buttons>
        </div>
      </div>
    </ion-toolbar>
  </ion-header> 
  
 
  <div class="rect">
  <img alt="Silhouette of mountains" class="imag" src="../../assets/Images/Josue.jpg"/>
  <ion-card-header class="posi">
    <div class="bord">
      
      <ion-card-subtitle class="exp">Nom: MAHAMADOU <br>
        Prénom: KEITA <br>
        Profil: Ingénieur Informatique <br>
        Adress: Bamako-Hamdallaye <br>
        Gmail:kmahamadou858@gmail.com</ion-card-subtitle> 
    </div>
  </ion-card-header>
 </div> -->
 <div class="rect2">
  <div class="cadre" >
    
  
<ion-text class="tes1">
  Secteur du Projet: <br> Agriculture et la Technologie <br>
Le projet est intitulé: FORODÔKÔTÔRÔ
</ion-text>
    <ion-text class="tes">
       L’agriculture est un secteur bien actif au Mali. Ce présent projet offre les privilèges comme:
        _ Aider les agriculteurs à monétiser leurs récoltes.
        _ Donner accès aux bonnes pratiques de l’agriculture aux agriculteurs.

        Mettre des différents agriculteurs en contact...
        <ion-button class="voir" fill="outline">
          <ion-icon  ></ion-icon>
          contact
        </ion-button>
        <!-- <div class="voir" >Voir+</div> -->
      </ion-text>
    
  
    </div>
  </div>
    
   
 